.vip-container {
    width: 500px;
    height: 100%;
    max-width: 100%;
    background-color: rgb(255, 251, 251);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.vip-photo-div {
    padding: 50px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vip-photo-div img {
    border-radius: 1000px;
    object-fit: cover;
    transition: transform 1s ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
        /* Slightly grow */
    }

    100% {
        transform: scale(1);
    }
}

.vip-photo-div img:active {
    animation: pulse 1.5s infinite ease-in-out;
}
.rotate {
    animation: tossCoin 1.5s ease-in-out;
  }
  
  @keyframes tossCoin {
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
.vpi-notify{
    text-align: center;
}
.table-container {
    max-width: 600px;
    /* margin: 20px auto; */
    padding: 10px;
    background-color: transparent;
}

.commission-table {
    width: 100%;
    /* border-collapse: collapse;  */
    border-spacing: 0;
    text-align: left;
    font-family: Arial, sans-serif;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid rgb(255, 187, 147);

}

.commission-table th,
.commission-table td {
    padding: 12px;
    border: 1px solid rgb(255, 187, 147);

}

.commission-table th {
    background-color: rgb(247, 117, 41);
    color: white;
    font-weight: bold;
}

.commission-table tbody tr:nth-child(even) {
    background-color: rgb(255, 250, 247);
    /* Alternate row color */
}

.commission-table tbody tr:hover {
    background-color: #fffcf9;
    /* Hover effect */
}
.vip-condition-list{
    padding: 10px;
}
.vip-list{
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}
.vip-items {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    color: #333;
  }
.vip-items b{
    color: rgb(247, 117, 41);
}